@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Thin'),
       url('../fonts/Montserrat/Montserrat-Thin.woff2') format('woff2'),
       url('../fonts/Montserrat/Montserrat-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-ExtraLight'),
       url('../fonts/Montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
       url('../fonts/Montserrat/Montserrat-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Light'),
       url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
       url('../fonts/Montserrat/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'),
       url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
       url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium'),
       url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
       url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Semibold'),
       url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
       url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'),
       url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
       url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Extrabold'),
       url('../fonts/Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
       url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Black'),
       url('../fonts/Montserrat/Montserrat-Black.woff2') format('woff2'),
       url('../fonts/Montserrat/Montserrat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* common */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --gap: 32px;
  --color-dark: #000;
  --color-white: #FFF;
  --color-orange: #FF9900;
  --color-orange-hover: #FF9900;
  --color-orange-active: #E1670E;
  --color-grey: #CACACA;
  --color-grey-two: #ececec;
  --color-dark-grey: #414141;
  --color-white-grey: #666666;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}


/* Стили по умолчанию*/
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-text {
  border: none;
  font-weight: 700;
  background-color: var(--color-orange);
  color: var(--color-white);
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1800px;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-dark);
}

.section-descr {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  color: #000;
}

.section-offest {
  margin-bottom: 96px;
}

/* header */
.header {
  margin-bottom: 50px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 32px 32px;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 101px;
}

.burger {
  display: none;
}

.header__inner {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 85px;
}

.nav__item:last-child {
  margin-right: 260px;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-dark);
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  outline-offset: 5px;
  outline: 2px solid var(--color-orange);
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 21px;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-orange);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__link:active {
  color: var(--color-orange-active);
}

.nav__link:active::after {
  opacity: 1;
  background-color: var(--color-orange-active);
}

.menu-close {
  display: none;
}

.search__input {
  display:none;
}

.search {
  border: none;
  padding: 0;
  width: 26px;
  height: 26px;

}

.search svg rect {
  fill: #000;
  stroke: #000;
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.search svg path {
  stroke: #000;
  transition: stroke 0.3s ease-in-out;
}

.search svg:focus {
  outline-offset: 4px;
  outline: 2px solid #FF9900;
}

.search svg:hover rect{
  fill: #FF9900;
  stroke: #FF9900;
}

.search svg:hover path {
  stroke: #FF9900;
}

.search svg:active rect{
  fill: #FF9900;
  stroke: #FF9900;
}

.search svg:active path {
  stroke: #FF9900;
}


/* slider */
.hero {
  margin-bottom: 50px;
  height: 620px;
}

.hero__container {
  height: 100%;
  overflow: hidden;
}

.swiper {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;

}

.swiper-slide {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 32px;
  transition-property: transform;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-image-1 {
  background-image: url('../img/jpg/slider-bg-1.jpg');

}

.swiper-image-2 {
  background-image: url('../img/jpg/slider-bg-2.jpg');
}

.swiper-image-3 {
  background-image: url('../img/jpg/slider-bg-3.jpg');
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 27px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin-right: 20px;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-white);
}

.hero-content {
  /* padding: 100px 0 0 78px; */
  max-width: 840px;
  position: absolute;
  top: 100px;
  left: 78px;
  z-index: 100;
}

.hero-content__title {
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--color-white);
}

.hero-content__text {
  padding: 0;
  margin: 0;
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-white);
}


.hero-content__btn {
  padding: 25px 39px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: var(--color-white);
  transition: background-color 0.3s ease-in-out;
}

.hero-content__btn:focus {
  background-color: #FFB84D;
}

.hero-content__btn:hover {
  background-color: #FFB84D;
}

.hero-content__btn:active {
  background-color: #E1670E;
}

.slider__dot {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10;
}

.button-slider::before {
  content: '';
  position: absolute;
  display: flex;
  width: 15px;
  height: 15px;
  top: 56px;
  left: 763px;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out;
}

.slider__one::before {
  background-image: url('../img/svg/Ellipse\ 3.svg');
}

.slider__one:focus::before {
  background-image: url('../img/svg/Ellipse\ 2.svg');
  border: 2px solid grey;
  border-radius: 15px;
}

.slider__one:hover::before {
  background-image: url('../img/svg/Ellipse\ 2.svg');
}

.slider__one:active::before {
  background-image: url('../img/svg/Ellipse\ 2.svg');
  border: 2px solid grey;
  border-radius: 15px;
}

.slider__two::before {
  background-image: url('../img/svg/Ellipse\ 3.svg');
  left: 794px;
}

.slider__two:focus::before {
  background-image: url('../img/svg/Ellipse\ 2.svg');
  border: 2px solid grey;
  border-radius: 15px;
}

.slider__two:hover::before {
  background-image: url('../img/svg/Ellipse\ 2.svg');
  left: 794px;
}

.slider__two:active::before {
  background-image: url('../img/svg/Ellipse\ 2.svg');
  border: 2px solid grey;
  border-radius: 15px;
}

.slider__three::before {
  background-image: url('../img/svg/Ellipse\ 3.svg');
  left: 829px;
}

.slider__three:focus::before {
  background-image: url('../img/svg/Ellipse\ 2.svg');
  border: 2px solid grey;
  border-radius: 15px;
}

.slider__three:hover::before {
  background-image: url('../img/svg/Ellipse\ 2.svg');
  left: 829px;
}

.slider_three:active::before {
  background-image: url('../img/svg/Ellipse\ 2.svg');
  border: 2px solid grey;
  border-radius: 15px;
}


/* About */
.about {
  margin-bottom: 90px;
}

.about-title {
  margin-bottom: 20px;
}

.about-descr {
  margin-bottom: 50px;
  max-width: 1235px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
}



.about-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-content__left {
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 870px;
  min-height: 622px;
  border-radius: 32px;
  background-image: url('../img/jpg/about.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.article-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 50px 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.about__article-descr  {
  margin-right: 160px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.btn-about {
  margin-right: 50px;
  padding: 20px 38px;
  border: 3px solid var(--color-orange);
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-about:focus {
  background-color: #FF9900;
}

.btn-about:hover {
  background-color: #FF9900;
}

.btn-about:active {
  border-color: #E1670E;
  background-color: #E1670E;
}

.about-content__right {
  max-width: 870px;
}

.article-right-item {
  padding: 63px 118px 63px 298px;
  border: 1px solid var(--color-grey);
  border-radius: 32px;
  background-image: url('../img/svg/about-item-2-bg.svg');
  background-position: left 58px top 64px;
  background-repeat: no-repeat;
}

.article-right-item:first-child {
  margin-bottom: var(--gap);
  background-image: url('../img/svg//about-item-bg.svg');
  background-position: left 58px top 65px;
}

.about-title-descr {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--color-dark);
}

.about-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
}

/* work */
.work {
  margin-bottom: 107px;
}

.work__title {
  display: flex;
  align-items: center;
  margin-bottom: 49px;
}

.work__list {
  margin-bottom: 46px;
}

.work__item:not(:last-child) {
  margin-right: 85px;
}

.work__btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-dark);
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.work__btn:focus {
  outline-offset: 5px;
  outline: 2px solid #FF9900;
}

.work__btn:hover {
  color: #FF9900;
}

.work__btn:active {
  color: #E1670E;
}

.work__btn--default {
  color: var(--color-orange);
}

.work__content {
  display: flex;
  justify-content: space-between;
}

.work-left {
  width: 50%;
  min-height: 471px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work__block-right {
  width: 870px;
}

.work-left__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-dark);
}

.work-left__descr {
  margin-bottom: 10px;
  max-width: 758px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
}

.work__btn-block {
  display: flex;
  align-items: center;
}

.work-left__btn {
  padding: 20px 38px;
  border-radius: 16px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.work-left__btn:focus {
  background-color: #FFB84D;
}

.work-left__btn:hover {
  background-color: #FFB84D;
}

.work-left__btn:active {
  background-color: #E1670E;
}

.work-left__btn:first-child {
  margin-right: var(--gap);
}

.work-left__btn--border {
  background-color: transparent;
  border: 1px solid var(--color-dark);
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.work-left__btn--border:focus {
  background-color: #666666;
  border-color: #666666;
  color: #fff;
}

.work-left__btn--border:hover {
  background-color: #666666;
  border-color: #666666;
  color: #fff;
}

.work-left__btn--border:active {
  background-color: #000;
  color: #fff;
}

.work-right {
  padding-top: 9px;
  width: 49%;
}

.work__block-image {
  width: 100%;
  object-fit: cover;
}

.tab-content {
  display: none;
}

.tab-content--active {
  display: flex;
}

/* questions */
.questions {
  margin-bottom: 97px;
}

.question-title {
  margin-bottom: var(--gap);
}

.question-accordion {
  border-bottom: 1px solid var(--color-grey);
  transition: border-color 0.3s ease-in-out;
}

.question-accordion:focus {
  border-color: var(--color-orange);
}

.question-accordion:hover {
  border-color: var(--color-orange);
}


.questions__wrapper {
  position: relative;
  padding: 39px 0;
  outline: none;
  border-bottom: 1px solid transparent;
  border-top: 1px solid var(--color-grey);
  margin-bottom: -1px;
  transition: border-color 0.3s ease-in-out;
}

.ui-state-hover {
  border-color: var(--color-orange);
  z-index: 10;
}


.question-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.question-icon {
  position: absolute;
  border: 1px solid transparent;
  border-radius: 100%;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  color: var(--color-dark);
  background-color: var(--color-grey);
  transform: translateY(-50%);
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.question-icon::before {
  content: '';
  position: absolute;
  right: 50%;
  bottom: 50%;
  width: 31px;
  height: 1px;
  background-color: currentColor;
  transform: translate(50%, 50%);
  transition: transform 0.3s ease-in-out;
}

.question-icon::after {
  content: '';
  position: absolute;
  right: 50%;
  bottom: 50%;
  width: 1px;
  height: 31px;
  background-color: currentColor;
  transform: translate(50%, 50%);
}

.questions__wrapper:focus .question-icon {
  color: var(--color-white);
  background-color: var(--color-orange);
}

.questions__wrapper:hover .question-icon {
  color: var(--color-white);
  background-color: var(--color-orange);
}

.questions__wrapper:active .question-icon {
  color: var(--color-dark);
  background-color: var(--color-grey);
}

.questions__wrapper:focus .question-link {
  color: var(--color-black);
}

.questions__wrapper:hover .question-link {
  color: var(--color-orange);
}

.questions__wrapper:active .question-link {
  color: var(--color-black);
}

.ui-state-active .question-icon::before {
  transform: translate(50%, 50%) rotate(45deg);
}

.ui-state-active .question-icon::after {
  transform: translate(50%, 50%) rotate(45deg);
}

.ui-accordion-content {
  height: auto;
  padding-bottom: 40px;
}

.question__descr {
  margin: 0;
  padding: 0;
  max-width: 1003px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.question__descr:first-child {
  margin-bottom: 40px;
}

/* footer */
.footer {
  padding: 50px 0;
  background-color: var(--color-dark);
}

.footer__container {
  display: flex;
  align-items: flex-start;
}

.footer__left{
  width: 34%;
}

.footer__logo-link {
  display: block;
  margin-bottom: 15px;
}

.footer__list {
  margin-bottom: 90px;
}

.footer__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--color-grey);
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.footer__link:focus {
  outline-offset: 5px;
  outline: 2px solid #FF9900;
}

.footer__link:hover {
  color: var(--color-orange);
}

.footer__link:active {
  color: var(--color-orange-active);
}

.footer__wrapper {
  min-width: 570px;
}

.footer__social {
  display: flex;
  align-items: center;
}

.social-link {
  display: inline-block;
  fill: #666666;
  transition: fill 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.social-link:focus {
  outline-offset: 5px;
  outline: 2px solid #FF9900;
  fill: #666666;
}

.social-link:hover {
  fill: #FF9900;
}

.social-link:active {
  fill: #E1670E;
}

.social-link:not(:last-child) {
  margin-right: 25px;
}

.footer__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66%;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.cap-footer {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-grey);
}

.footer__input {
  margin-bottom: 25px;
  padding-left: 24px;
  border: none;
  border-radius: 16px;
  height: 60px;
  background-color: var(--color-dark-grey);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.footer__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey);
}

.footer__input:focus {
  background-color: var(--color-white-grey);
  border-color: var(--color-dark-grey);
}

.footer__input:hover {
  background-color: var(--color-white-grey);
  border-color: var(--color-dark-grey);
}

.footer__input:active {
  background-color: var(--color-white-grey);
  border-color: var(--color-dark-grey);
  color: #FFFFFF;
}

.footer__area {
  margin-bottom: var(--gap);
  padding-top: 14px;
  padding-left: 24px;
  border: none;
  border-radius: 16px;
  resize: none;
  max-width: 100%;
  height: 150px;
  background-color: var(--color-dark-grey);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.footer__area::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey);
}

.footer__area:focus {
  background-color: var(--color-white-grey);
  border-color: var(--color-dark-grey);
}

.footer__area:hover {
  background-color: var(--color-white-grey);
  border-color: var(--color-dark-grey);
}

.footer__area:active {
  background-color: var(--color-white-grey);
  border-color: var(--color-dark-grey);
  color: #FFFFFF;
}

.footer__btn  {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.form-btn {
  margin-right: 22px;
  padding: 19px 52px;
  border-radius: 16px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.form-btn:focus {
  background-color: var(--color-orange);
}

.form-btn:hover {
  background-color: var(--color-orange);
}

.form-btn:active {
  background-color: var(--color-orange-active);
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox-text {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding-left: 18px;
  color: var(--color-grey);
}

.checkbox-text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid var(--color-grey);
}

.checkbox-text::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
  opacity: 0;
  background-image: url('../img/svg/checked.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox:checked + .checkbox-text::after {
  opacity: 1;
}

.footer__descr {
  margin: 0;
  padding: 0;
  max-width: 363px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey);
}
